#badge{
            
            background-color: #121316;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
}
#b1{
    margin-top: 20vh;
    color: #fff;
    font-weight: 400;
    font-size: 5.5vh;
}
#hdngs{
    line-height: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#b2{
    color: #6CB3E7;
    font-weight: 600;
    font-size: 4vh;
}
#badges{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
    gap: 3vh;
}
#badges1{
    display: flex;
    align-items: center;
    gap: 2vw;
    
}
#bdg:hover, #bdg1:hover{
transform: scale(1.15);
}
#bdg{
    width: 10vw;
}
#bdg1{
    width: 7vw;
}
@media (max-width: 1024px) {
#bdg{
    width: 15vw;
}
#bdg1{
    width: 9vw;
}
}
@media (max-width: 768px) {
#bdg{
    width: auto;
    height: 9vh;
}
#bdg1{
    width: auto;
    height: 12vh;

}
}